/* Footer */

@import "variables";

    .footer{
        height: 18rem;
        display: flex;
        background-color: #7a7575;
        align-items: center;
        bottom: 0;
        opacity: 80%;
        flex-direction: column;
        justify-content: flex-end;
        &__contacto{
            width: 100vw;
            display: flex;
            justify-content: space-around;
            &__redes{
                width: 15rem;
                display: flex;
                justify-content: space-around;
                a{
                    text-decoration: none;
                    i{
                        width: 3rem;
                        height: 3rem;
                        color: white;
                    }
                }
            }
            &__tel{
                h3{
                    color: white;
                    font-family: $secundaria;
                    font-size: $h3;
                }
                p{
                    color: rgb(241, 243, 240);
                    font-family: $secundaria;
                }
            }
        }   
        &__navBar{
            width: 100vw;
            ul{
                width: 100vw;
                display: flex;
                justify-content: space-evenly;
                border-top: solid rgb(44, 41, 41) 1px;
                border-bottom: solid rgb(44, 41, 41) 1px;
                li{
                    a{
                        text-decoration: none;
                        color: rgb(236, 228, 228);
                        font-family: $secundaria;
                        }
                    }
                }
            }
        
        &__copyright{
            margin-top: 1rem;
            height: 2rem;
            p{
                color: rgb(247, 232, 232);
                font-family: $secundaria;
                font-size: 0.7rem;
                a{
                    text-decoration: none;
                    color: rgb(253, 243, 243);
                    font-family: $secundaria;
                    font-size: 0.7rem;
                }
            }
        }
    }